################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

GameplanAPI/.vs
GameplanAPI/obj
GameplanAPI/bin
GameplanAPI/Properties
